---
---

@import '{{ site.theme }}';

/* append your custom style below */
.project-meta {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .project-meta i {
    margin-right: 0.5rem;
  }
  
  .project-meta .categories,
  .project-meta .tags {
    margin-left: 0.5rem;
  }
  
  .project-meta .categories:before {
    content: "Categories: ";
  }
  
  .project-meta .tags:before {
    content: "Tags: ";
  }